{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}


<!-- ------------------------------------------------ -->
<button class="snipcart-add-item" id="my-button"
data-item-id="1"
data-item-url="/"
data-item-name="Item"
data-item-price="20.00"

data-item-custom1-name="Size"
data-item-custom1-options="Small|Medium|Large">


 Buy now
</button>



<label>Размер</label>
<select id="my-size" data-customfield="1">
<option>Small</option>
<option>Medium</option>
<option>Large</option>
</select>
<script type="text/javascript">
$(function() {
  $("select").change(function() {
    var field_index = $(this).data("customfield");
    var field = "item-custom" + field_index + "-value";
    $(".snipcart-add-item").data(field, $(this).val());
  });

  });
});
</script>
