
<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
          {{ range (where .Data.Pages "Section" "portfolio") }}


              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}


                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }}
                            <img src="{{ .Params.image }}" alt="" class="img-responsive">



                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}

                          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                          <div class="box-masonry-description">
                              <p>{{ .Summary }}</p>
                          </div>
                      </div>


                  </div>
                  <!-- МЕСТО ДЛЯ КНОПКИ -->
                  <!-- <button class="snipcart-add-item" id="my-button"
                  data-item-id="1"
                  data-item-url="/"
                  data-item-name="Item"
                  data-item-price="20.00"

                  data-item-custom1-name="Size"
                  data-item-custom1-options="Small|Medium|Large">


                   Buy now
                  </button>



                  <label>Размер</label>
                  <select id="my-size" data-customfield="1">
                  <option>Small</option>
                  <option>Medium</option>
                  <option>Large</option>
                  </select>
                  <script type="text/javascript">
                  $(function() {
                    $("select").change(function() {
                      var field_index = $(this).data("customfield");
                      var field = "item-custom" + field_index + "-value";
                      $(".snipcart-add-item").data(field, $(this).val());
                    });

                    });
                  });
                  </script> -->
<!-- Конец кнопки -->


              </div>
          {{ end }}
        </div>
    </div>
</div>
